name: CI (simple)

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install
        working-directory: simple-devops-project
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Lint
        working-directory: simple-devops-project
        run: |
          ruff check app

      - name: Test
        working-directory: simple-devops-project
        run: |
          pytest -q

